<% resource_url = Rails.env.production? ? 're.equestrianwars.com' : 'localhost/resources' %>


<style type="text/css">
body{
        font: 62.5% "Trebuchet MS", sans-serif;
    }
</style>
<div id="GameDiv" class="windowbg" align="center">
    <div id ="cr-stage" >
        <canvas id="MEWGame" width="800" height="600">
        <p style="text-align:center;">
        Your Browser doen't suport the HTML 5 Canvas tag? what kind of stone age browser are you useing! Upgrade to Firefox or Chrome!
        <br/>
        <a href="https://affiliates.mozilla.org/link/banner/12001/3/1"><img src="http://equestrianwars.com/img/firefox.jpg" width="50" height="50" /></a>
        <a href="https://www.google.com/chrome"><img src="http://equestrianwars.com/img/chrome.jpg" width="50" height="50" /></a>
        </p>
        </canvas>
    </div>
</div>
<div id="CodeDiv">
   <%=raw '<link href="http://'  + resource_url + '/css/ui-lightness/jquery-ui-min.css" rel="stylesheet">' %>
   <%=raw '<script src="http://' + resource_url + '/js/lib/jquery-min.js"></script> ' %>
   <%=raw '<script src="http://' + resource_url + '/js/lib/jquery-ui-min.js"></script> ' %>
   <%=raw '<script src="http://' + resource_url + '/js/lib/underscore-min.js"></script> ' %>
   <%=raw '<script src="http://' + resource_url + '/js/lib/backbone-min.js"></script> ' %>
   <%=raw '<script src="http://' + resource_url + '/code/engine"></script>' %>
   <%=raw '<script src="http://' + resource_url + '/code/bootstrap"></script>     ' %>
</div>
<div id="MEWDebugDiv">
</div>
